<h2>Add a New User</h2>

<form action = '/users' method='post'>
	<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'> 	
	First Name: <input type='text' name='first_name'>
	Last Name: <input type='text' name='last_name'>
	Email: <input type='text' name='email'>
	Password: <input type='password' name='password'>
	<input type='submit' value='Create User'>

</form>

<a href="/">Home</a>

